* {
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin:47px 350px 42px;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    color: #17233D;
    line-height: 21px;
    cursor: pointer;
    margin-right:21px;
}

.button-header {
    background: #6FBF44;
    border-radius: 6px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    cursor: pointer;
}


.logo-image {
    width: 595.178px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;  
}
section {
    display: inline-block;
}

h1 {
    font-weight: 700;
    line-height: 82px;
    font-size: 62px;
    color: #161A49;
}

p {
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
}

.button-main {
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    cursor: pointer;
}

@media screen and (max-width: 900px){
   header {
    display: none;
   }

   img {
    position: relative;
    max-width: 90%;
    }

   h1 {
    width: 263px;
    height: 52px;
    font-size: 50px;
    font-weight: 900;
    line-height: center;   
   }
   h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: center;
   }
   
   button-main {
    width: auto;
    height: auto;
    

   }
}



    
